[Unit]
Description=box
After=docker.service,flanneld.service
Requires=docker.service,flanneld.service,broker.service

[Service]
EnvironmentFile=/etc/environment
Type=simple
ExecStartPre=-/usr/bin/docker kill box
ExecStartPre=-/usr/bin/docker rm box
ExecStartPre=/usr/bin/etcdctl set box/host ${COREOS_PRIVATE_IPV4}
ExecStartPre=/usr/bin/etcdctl set box/port 8081
ExecStartPre=/usr/bin/docker pull nherbaut/dvd2c-box
ExecStart=/bin/bash -c  '/usr/bin/docker run  --name box -p 8081:8081  -e AMQP_PORT_5672_TCP_ADDR=`etcdctl get broker/host`\
 -e AMQP_PORT_5672_TCP_PORT=`etcdctl get broker/port`  nherbaut/dvd2c-box'
ExecStop=/usr/bin/docker stop box
Restart=always
