[Unit]
Description=box
After=broker@.service
Requires=broker@.service

[Service]
ExecStartPre=-/usr/bin/docker kill box-%i
ExecStartPre=-/usr/bin/docker rm box-%i
ExecStartPre=/usr/bin/etcdctl set /services/s9/box/host ${COREOS_PRIVATE_IPV4}
ExecStartPre=/usr/bin/etcdctl set /services/s9/box/port 8081
ExecStart=/usr/bin/docker run --name box-%i -p 8081:8081 -e AMQP_PORT_5672_TCP_ADDR=`etcdctl get /services/s9/broker/host` -e AMQP_PORT_5672_TCP_PORT=`etcdctl get /services/s9/broker/port` nherbaut/dvd2c-box
ExecStop=/usr/bin/docker stop box-%i

[X-Fleet]
Conflict=box@%i.service
