[Unit]
Description=Flower
After=docker.service,flanneld.service,broker.service
Requires=docker.service,flanneld.service,broker.service

[Service]
Type=simple
EnvironmentFile=/etc/environment
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill flower
ExecStartPre=-/usr/bin/docker rm flower
ExecStartPre=/usr/bin/docker pull iserko/docker-celery-flower
ExecStart=/bin/bash -c '/usr/bin/docker run --name flower -p 5555:5555 -e CELERY_BROKER_URL="amqp://guest:guest@$(etcdctl get broker/host):5672"  iserko/docker-celery-flower '
ExecStop=/usr/bin/docker stop flower
Restart=always
