[Unit]
Description=Worker
After=docker.service
Requires=docker.service,broker.service



[Service]
Type=simple
EnvironmentFile=/etc/environment
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill worker%i
ExecStartPre=-/usr/bin/docker rm worker%i
ExecStartPre=/usr/bin/docker pull nherbaut/worker:jdev
ExecStart=/bin/bash -c '/usr/bin/docker run --name worker%i -e AMQP_PORT_5672_TCP_ADDR=`etcdctl get broker/host` -e AMQP_PORT_5672_TCP_PORT=`etcdctl get broker/port`    nherbaut/worker:jdev'
ExecStop=/usr/bin/docker stop worker%i
