[Unit]
Description=Worker
Requires=broker@.service
BindsTo=broker@.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill worker-%i
ExecStartPre=-/usr/bin/docker rm worker-%i
ExecStart=/usr/bin/docker run --rm --name worker-%i -e AMQP_PORT_5672_TCP_ADDR=`etcdctl get broker_host`  nherbaut/worker:jdev
ExecStop=/usr/bin/docker stop worker-%i

[X-Fleet]
